 body{background: url("imgs/Wargames-Desktop.jpg") no-repeat;
      background-size: 100%;
     /* background-position: top; */
      }

 .hidden{display: none;}

#loadingbox {width:300px;
            height:300px;
            position:fixed;
            top: 25%;
            left: 25%;
            background-color: #000000;
            opacity: 0.6;
            color: white;
          }

          #dial {
            height:303px !important;
            font-size: 15pt !important;
          }

          #dial #dialtext{
            height:35px !important;
            width: 285px;
            font-size: 20pt !important;
            border: 0px solid #f00 !important;
            font-family: Digital Readout Thick Upright !important;
            color: #66FF00;
            margin-left: 10px;
            margin-top: 10px;

          }


  
          #game {width: 305px !important;
          font-family: Digital Readout Thick Upright !important;
            color: #66FF00;}

          #dial span{
            height:75px !important;
            width:302px !important;
            border: 0px solid #f00 !important;
            font-size: 25px;
          }

          .dialtext span{
            height:75px !important;
            width:302px !important;
            border: 0px solid #f00 !important;
            font-size: 5px !important;


          }

          #dialtext span{
            height:75px !important;
            width:302px !important;
            border: 0px solid #f00 !important; 
            font-size: 20px;        
          }


 #board{
            width:920px;
            /*height:920px;*/
            width: 615px;
            position:fixed;
            top: 25%;
            left: 25%;
          }
          #board div{
            width:300px;
            height:300px;
            float:left;
            border:2px solid green !important;
            background-color: #000000;
            /*opacity: 0.6;*/
            color: white;
          }
          #board span{
            font-size:300%;
            width:98px;
            height:98px;
            float:left; 
            display:block;
            border:2px solid green !important;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
          }
          

          

          #board span:hover{
            background-color:#0d2f5a;
            color:white; 
          }

#uiblock div{
            width:300px;
            height:300px;
            float:left;
            border:2px solid green !important;
            background-color: #000000;
            opacity: 0.6;
            color: white;
          }
          /*#uiblock span{
            font-size:300%;
            width:98px;
            height:98px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
          }*/


          #ui1{
            font-size:300%;
            width:292px !important;
            height:200px !important;
            float:left; 
            display:block;
            border:2px solid green !important;
            text-align:center;  
            line-height:99px;
            background-color:#000000;  
            margin-left: 3px;   
          }

          #ui1a{
            font-size:100% !important;
            width:292px !important;
            height:192px !important;
            float:left; 
            display:block;
            border:2px solid green !important;
            text-align:center;  
            line-height:99px;
            background-color:#000000;     
            /*margin-left: 3px; */
            font-family: Digital Readout Thick Upright !important;
            color: #66FF00;
          }
          
          #ui2{
            font-size:300%;
            width:292px !important;
            height:98px ;
            float:left; 
            display:block;
            border:2px solid green !important;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
            margin-left: 3px;      
          }

 .typed-cursor{
     opacity: 1;
     -webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
     display: none !important;
 }

 #typed-cursor{
     opacity: 1;
     -webkit-animation: blink 0.7s infinite;
     -moz-animation: blink 0.7s infinite;
     animation: blink 0.7s infinite;
     display: none !important;
 }



          #uiblock {
            
            width:297px !important;
            
              
          }