 body{background: url("imgs/Wargames-Desktop.jpg") no-repeat;
      background-size: 100%;
     /* background-position: top; */
      }

 .hidden{display: none;}

#loadingbox {width:300px;
            height:300px;
            position:fixed;
            top: 25%;
            left: 25%;
            background-color: #000000;
            opacity: 0.6;
            color: white;
          }

 #board{
            width:920px;
            /*height:920px;*/
            position:fixed;
            top: 25%;
            left: 25%;
          }
          #board div{
            width:300px;
            height:300px;
            float:left;
            border:1px solid #ff8a00;
            background-color: #000000;
            opacity: 0.6;
            color: white;
          }
          #board span{
            font-size:300%;
            width:98px;
            height:98px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
          }
          

          

          #board span:hover{
            background-color:#0d2f5a;
            color:white; 
          }

#uiblock div{
            width:300px;
            height:300px;
            float:left;
            border:1px solid #ff8a00;
            background-color: #000000;
            opacity: 0.6;
            color: white;
          }
          /*#uiblock span{
            font-size:300%;
            width:98px;
            height:98px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
          }*/


          #ui1{
            font-size:300%;
            width:292px !important;
            height:200px !important;
            float:left; 
            display:block;
            border:1px solid green !important;
            text-align:center;  
            line-height:99px;
            background-color:#000000;  
            margin-left: 3px;   
          }

          #ui1a{
            font-size:100% !important;
            width:292px !important;
            height:192px !important;
            float:left; 
            display:block;
            border:1px solid green;
            text-align:center;  
            line-height:99px;
            background-color:#000000;     
            /*margin-left: 3px; */
          }
          
          #ui2{
            font-size:300%;
            width:292px !important;
            height:98px ;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:99px;
            background-color:#000000;
            /*margin-left: 6px;      */
          }



/*

          #uiblock {
            font-size:300%;
            width:292px !important;
            height:98px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:99px;
            background-color:#f2f2f2;     
          }*/